.body{
	max-width: 100%;
	background-color: 
}
.header{
width: 100%;
background-color: #61DFE1;
width:100%;
height:8%;
border-radius: 4px;
}
ul{
	float:right;
	list-style-type: none;
}
ul li{
	display:inline-block;
}
ul li a{
	text-decoration: none;
	margin-right:50px;
	margin-bottom:19px;
	padding:5px 7px;
	color:black;
	font-family:Arial black;
	transition: 0.6s ease;
}
a:hover{
		background-color:black;
		color:white;
}
ul li.active a{
	background-color:white;
	color:black;
}
a{
	color:white;
	text-decoration: none;
	padding:4px 10px;
	font-family:Arial black;
	border-radius: 4px;
}
a:hover{
	background-color:black;
	color:white;
	transition: 0.6s ease;
	border-radius: 4px;
	}
.image{
	background-image: url("788.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: sticky;
	width:100%;
	height:65%;
	border-radius: 2px;
	margin-top: 2px;
}
.column {
  float: left;
  padding: 10px;
  height: 350px; /* Should be removed. Only for demonstration */
}
.left{
  width: 21%;
  margin-top: 3px;
  float:left;
}
.right {
  width: 21%;
  margin-top: 3px;
  float:right;
}
.middle {
  width:53.3%;
  margin-top:3px;
  background-color: lightgray;
  background-size: cover;
  background-position: center;
}
textarea {
	resize: none;
}
.form-label {
	font-size: 15px;
	color: black;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;
}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
   	box-sizing: 20px;
}
.form-control:focus {
	box-shadow: none;
	border-color: #5e9bfc;
}
.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}
.btn-start-order {
	background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: inherit;
    margin: 20px 0;
    padding: 5px 40px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
	border-color: #5e9bfc;
	color: #5e9bfc;
}
#contact-form{
	margin-left:200px;
}



.hov{
	color:blue;
	width: 25%;
	height:10%;
}

.hov a{
	color:blue;
	position: relative;
	padding:1px 5px;
	transition: 0.6s ease;
}
.hov a:hover{
	background-color:black;
	color:white;
}
span{
	margin-top: 50px;
	margin-left: 30px;
}
.box{
	width:65%;
	height:50%;
	background-color: #CBEF6E;
	margin-left: 120px;
	margin-top: 0px;
	border:2px solid cyan;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column .left{
	background-color:#B466E8;
	width:80%;
	margin-top: 3px;
}

.column p{
	border:2px solid #40EDD8;
	width:97%;
	height:71%;
	color:#F44E4E;
	font-family:comic sans ms;
	margin-left:0px;
	margin-right: 0px;
	margin-top: 0px;
	font-size:16px;
	padding:30px 5px 5px 5px;
}
.column ul li{
	text-align: middle;
	color:black;
	font-size:15px;
	font-family: Arial;
	margin:13px;
	margin-right: 45px;
}

.footer{
	margin-top: 4px;
	background-color:#96F5E9;
	width:100%;
	height:34%;
	border-radius: 4px;
}
.tab table{
			display: inline-block;
			margin-left:430px;
}
td{
	padding: 2px 60px;
}